<div class="main-container">
    
    <div class="logout-block">
        <a href="">logout</a>
    </div>
    

    
<section class="commonsection dashboardarea row">
    <div class="card-group">
        <div class="col-sm-12">
            <div class="card">
                <div class="clr20"></div>
                <div>
                    <p>{{service.productCategory?.category}}</p>
                    <p>{{service.productCategory?.imageURL}}</p>
                    <p>{{service.productCategory?.desc}}</p>
                    <p>{{service.productCategory?.isVisible}}</p>
                
                
                
                </div>

        <!-- Fill your code here -->


                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>

</section>

	<!-- Fill your code here -->



    
</div>
