/*! CSS Used from: http://13.229.118.119:3448/1580283935386_88336/css/furniture_rental.css */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.ml15{margin-left:15px!important;}
.left{float:left!important;}
.right{float:right!important;}
.clr,.clr20{clear:both;display:block;width:100%;}
.clr20{height:20px;}
ul{padding:0;margin:0;list-style:none;}
img{max-width:100%;}
button{font-family:"Roboto",sans-serif;font-size:16px;}
.headline{font-size:24px;font-weight:700;}
.title{font-size:20px;font-weight:500;}
.btn{outline:none!important;border:0;font-size:16px;padding:10px 19px;height:40px;background:transparent;overflow:hidden;position:relative;border-radius:3px;border:1px solid transparent;cursor:pointer;line-height:17px;text-transform:uppercase;box-shadow:0 2px 4px #0000003d;min-width:90px;font-weight:500;letter-spacing:.5px;}
.btn:focus,.btn:hover{box-shadow:none;}
.btn_primary:focus,.btn_primary:hover{color:#fff;}
.btn_primary{background-color:#007d76;color:#fff;}
.btn_teritory{color:#007d76;box-shadow:none;}
a,a:hover{text-decoration:none;color:#3d3d3d;}
.logout-block{text-align:center;padding:15px;box-shadow:0 1px 2px #0000001c;background:#fff;margin:20px;width:200px;border-radius:4px;}
.logout-block{float:right;font-size:24px;text-transform:uppercase;margin:0;}
.main-container{float:left;width:100%;padding:20px 35px 0 245px;}
.commonsection{width:calc(100% - 180px);margin-top:30px;}
.top-links{display:inline-block;margin-top:20px;}
.top-links ul{display:flex;}
.top-links ul li{color:#007d76;font-weight:500;}
.top-links ul li a{color:#007d76;}
.top-links ul li span{color:#3d3d3d;margin-left:10px;margin-right:7px;}
.catalog-card{background:#fff;margin-bottom:20px;padding:50px;font-family: "Roboto",sans-serif;}
.catlog-block .title{font-size:12px;color:gray;letter-spacing:.5px;}
.catlog-block p{line-height:21px;font-size:14px;font-weight:500;}
.cat-image{margin-top:20px;}
@media (max-width: 768px){
.btn{width:100%;margin:0 0 20px 0!important;}
}
.headline {
    font-size: 24px;
    font-weight: 700;
}